.legend .entry > div {
    display: inline-block;
}
.legend .entry .palette {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
}
.legend .entry .palette.default {
    background-color: #3174ad;
}
