.connect h1,
.connect h2,
.connect h3,
.connect h4,
.connect h5,
.connect h6 {
    color: var(--primary);
    font-weight: 100;
}

.connect .where-we-are a.address {
    color: var(--primary) !important;
}
