.youth.minister.contact img {
    height: 15rem;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 991px) {
    .col-lg-6:last-child > .youth.minister.contact .card {
        margin-top: 2rem;
    }
}
