.slider-wrapper {
    position: relative;
    height: 20em;
    overflow: hidden;
}
.slide {
    height: 20em;
    background-size: cover !important;
}

.slider-content .inner a {
    min-width: 7rem;
    font-size: 1rem;
}

.slider-content .inner h1 {
    font-weight: 900;
    margin: 0 auto;
    max-width: 840px;
    color: #FFFFFF;
    font-size: 2.5rem;
    line-height: 1;
    word-wrap: break-word;
}

.slider-content .inner {
    padding: 0 2rem;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (min-width: 700px) {
    .slide {
        height: 30em;
    }
    .slider-wrapper {
        height: 30em;
    }
    .slider-content .inner a {
        font-size: 1.25rem;
    }
    .slider-content .inner h1 {
        font-size: 5rem;
    }
    .slider-content .inner {
        padding: 0 5rem;
    }
}

.slide::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    bottom: 0;
    left: 0;
}

.previousButton, .nextButton {
    position: absolute;
    z-index: 10;
    width: 32px;
    height: 60px;
    text-align: center;
    font-size: 60px;
    top: 50%;
}

.previousButton > i, .nextButton > i {
    display: block;
    color: var(--light);
    cursor: pointer;
}

.previousButton {
    left: 20px;
}

.nextButton {
    right: 20px;
}

.slider-content {
    text-align: center;
}

.slider-content .inner button{
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
