.wd.navbar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    border-top: 10px solid var(--accent);
    background: linear-gradient(var(--primary), transparent);
}

.wd.navbar .nav-link:hover,
.wd.navbar .navbar-brand:hover,
.wd.navbar .nav-link.active,
.wd.navbar .navbar-brand.active {
    color: var(--accent)!important;
    text-shadow: var(--primary) 0 0 8px;
}

.wd.navbar .nav-link,
.wd.navbar .navbar-toggler {
    color: var(--light);
}
