:root {
  --primary: #000000 !important;
  --accent: #8A2BE2 !important;
  --light: #f6f7f9 !important;
  --header: Roboto, sans-serif !important;
  --text: Roboto, sans-serif !important;
}

html,body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--text) !important;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary) !important;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, label {
  font-family: var(--header);
  font-weight: 800;
  color: var(--light);
}
hr {
  border: 1px solid var(--accent);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: var(--accent);
}

.c-accent {
  color: var(--accent) !important;
}
.c-primary {
  color: var(--primary) !important;
}
.c-light {
  color: var(--light) !important;
}
.c-hover-accent:hover {
  color: var(--accent) !important;
}
.c-hover-primary:hover {
  color: var(--primary) !important;
}
.c-hover-light:hover {
  color: var(--light) !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-light {
  background-color: var(--light) !important;
}
.bg-hover-accent:hover {
  background-color: var(--accent) !important;
}
.bg-hover-primary:hover {
  background-color: var(--primary) !important;
}
.bg-hover-light:hover {
  background-color: var(--light) !important;
}
.bg-transparent {
  background-color: transparent !important;
}

.ff-text {
  font-family: var(--text) !important;
}
.ff-header {
  font-family: var(--header) !important;
}

.fw-100 {
  font-weight: 100;
}
.hover-underline:hover {
  text-decoration: underline;
}

.w-fit {
  width: fit-content;
}
.o-0 {
  opacity: 0 !important;
}
.o-25 {
  opacity: 0.25 !important;
}
.o-50 {
  opacity: 0.5 !important;
}
.o-75 {
  opacity: 0.75 !important;
}
.o-100 {
  opacity: 1 !important;
}
.o-hover-25:hover {
  opacity: 0.25 !important;
}
.o-hover-50:hover {
  opacity: 0.5 !important;
}
.o-hover-75:hover {
  opacity: 0.75 !important;
}
.o-hover-100:hover {
  opacity: 1 !important;
}

.transition {
  transition: 0.5s;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fade {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}
