.video-gallery > .delete {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: .5;
    cursor: pointer;
}
.video-gallery > .delete > i {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    font-size: 4rem;
    color: var(--accent);
}

.video-gallery > .delete:hover {
    opacity: 1;
}

@media (min-width: 576px) {
    .video-gallery > .delete > i {
        top: 100px;
    }
}
@media (min-width: 768px) {
    .video-gallery > .delete > i {
        top: 180px;
    }
}
